# macOS
.DS_Store

# Dependency folders
node_modules

# Vue build output
dist
dist/

# Local environment files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Bubblewrap + Android build output ===
android.keystore
app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
app-release-bundle.aab
hs_err_pid*.log

output/
build/
dist/

.gradle/
.idea/
app/
gradle/

# Android Gradle build system
gradlew
gradlew.bat
build.gradle
settings.gradle
gradle.properties
manifest-checksum.txt
store_icon.png
twa-manifest.json
